/*#region Primary */
/*#endregion */
/*#region Secondary */
/*#endregion */
/*#region Tertiary */
/*#endregion */
/*region borders*/
/*endregion borders*/
h3,
.h3 {
  font-size: 20px !important;
}
/*region Navigation*/
.nav-enabled {
  padding-top: 80px;
}
.nav-pills > li + li {
  margin-left: 30px;
}
.nav-pills > li {
  float: left;
  width: 165px;
  text-align: center;
}
.nav-pills > li > a {
  font-size: 18px !important;
  border-radius: 3px;
  border: solid 1px #9b9b9b;
  background-image: none;
  color: #4A4A4A;
  background-color: rgba(0, 0, 0, 0);
  height: 43px;
  position: relative;
  top: 7px;
}
.nav-pills > li > a:hover {
  background-color: #EEEEEE !important;
  color: #4A4A4A;
  -webkit-transition: background-color 200ms ease-in-out;
  -ms-transition: background-color 200ms ease-in-out;
  transition: background-color 200ms ease-in-out;
}
.nav-pills > li.active > a,
.nav-pills > li.active > a:focus {
  color: #ffffff;
  background-color: #428bca;
}
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus:hover {
  color: #4A4A4A;
}
/*endregion Navigation*/
.btn {
  border: none;
  border-radius: 3px;
  font-size: 14px;
  height: 32px;
}
.btn-lg {
  font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  width: 100%;
  height: 46px;
  border: none !important;
  outline: none !important;
  padding: 10px;
  position: relative;
}
.control-group > .btn-lg {
  top: -8px;
  margin-bottom: 8px;
}
.btn-sm {
  width: 100%;
  height: 32px;
  padding: 8px;
  font-size: 14px;
}
.btn-pending {
  background-image: none;
  color: #ffffff;
  background-color: #75a1c6;
}
.btn-pending:visited {
  background-color: #75a1c6;
  color: #ffffff;
}
.btn-pending:hover,
.btn-pending:active,
.btn-pending:focus {
  background-color: #428bca;
  color: #ffffff;
  border: none !important;
  outline: none !important;
  -webkit-transition: background-color 400ms ease-in-out;
  -ms-transition: background-color 400ms ease-in-out;
  transition: background-color 400ms ease-in-out;
}
.btn-cta {
  background-image: none;
  color: #ffffff;
  background-color: #f39200;
}
.btn-cta:visited {
  background-color: #f39200;
  color: #ffffff;
}
.btn-cta:hover,
.btn-cta:active,
.btn-cta:focus {
  background-color: #f36800;
  color: #ffffff;
  border: none !important;
  outline: none !important;
  -webkit-transition: background-color 400ms ease-in-out;
  -ms-transition: background-color 400ms ease-in-out;
  transition: background-color 400ms ease-in-out;
}
.btn-expired {
  background-image: none;
  color: #ffffff;
  background-color: #999999;
}
.btn-expired:visited {
  background-color: #999999;
  color: #ffffff;
}
.btn-expired:hover,
.btn-expired:active,
.btn-expired:focus {
  background-color: #787878;
  color: #ffffff;
  border: none !important;
  outline: none !important;
  -webkit-transition: background-color 400ms ease-in-out;
  -ms-transition: background-color 400ms ease-in-out;
  transition: background-color 400ms ease-in-out;
}
.btn-action {
  background-image: none;
  color: #ffffff;
  background-color: #db524b;
}
.btn-action:visited {
  background-color: #db524b;
  color: #ffffff;
}
.btn-action:hover,
.btn-action:active,
.btn-action:focus {
  background-color: #d52e2b;
  color: #ffffff;
  border: none !important;
  outline: none !important;
  -webkit-transition: background-color 400ms ease-in-out;
  -ms-transition: background-color 400ms ease-in-out;
  transition: background-color 400ms ease-in-out;
}
/*#endregion buttons*/
/*region paddings and margins*/
.reset-row {
  position: relative;
  left: 15px;
}
small,
.small {
  font-size: 80%;
}
/*endregion paddings and margins*/
/* Generated by Font Squirrel (http://www.fontsquirrel.com) on March 15, 2016 */
@font-face {
  font-family: 'Roboto Mono';
  src: url('../fonts/roboto-mono/robotomono-medium-webfont.eot');
  src: url('../fonts/roboto-mono/robotomono-medium-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/roboto-mono/robotomono-medium-webfont.woff2') format('woff2'), url('../fonts/roboto-mono/robotomono-medium-webfont.woff') format('woff'), url('../fonts/roboto-mono/robotomono-medium-webfont.ttf') format('truetype'), url('../fonts/roboto-mono/robotomono-medium-webfont.svg#roboto_monomedium') format('svg');
  font-weight: 500;
  font-style: normal;
}
html {
  overflow: hidden;
}
body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto Mono', monospace;
}
#customerReceipt {
  display: none;
}
.receipt {
  margin: 0 0 20px;
  font-size: 10px;
  color: #000;
  background: #fff;
  text-align: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: 'Roboto Mono', monospace;
}
.receipt hr {
  border: 0;
  border-top: 1px solid #000;
  margin: 5px 0;
  display: none;
}
.receipt .inner {
  padding: 0;
  bottom: 0;
}
.receipt .receiptBody {
  display: none;
}
.receipt .receiptBody div {
  white-space: pre;
}
.receipt .product-image-table {
  width: 100%;
}
.receipt .product-image-table td {
  padding: 20px;
  vertical-align: middle;
  background-image: none;
  text-align: center;
}
.receipt .product-image-table img {
  border: 0;
  max-width: 120px;
}
.receiptHeightWrap {
  height: auto !important;
}
@media print {
  .receipt {
    width: 240px;
  }
  .receipt .receiptBody {
    display: block;
  }
  .receipt hr {
    display: block;
  }
}
