<div class="changelog_modal_wrap md_modal_wrap" my-modal-position>

  <div class="md_modal_head">
    <div class="md_modal_title_wrap">
      <div class="md_modal_actions_wrap clearfix">
        <a class="md_modal_action md_modal_action_close" ng-click="$close()" my-i18n="modal_close"></a>
      </div>
      <div class="md_modal_title" my-i18n="head_about"></div>
    </div>

    <div class="peer_modal_profile_wrap clearfix">
      <div class="peer_modal_photo_wrap pull-left">
        <div class="peer_modal_photo telegram_modal_logo"></div>
      </div>
      <div class="peer_modal_profile">
        <div class="peer_modal_profile_name">Веб-клиент Телеграма</div>
        <div class="peer_modal_profile_description">Версия {{currentVersion}}</div>
      </div>
    </div>
  </div>

  <div class="md_modal_split_actions_wrap">
    <div class="md_modal_split_actions">
      <a href="https://twitter.com/telegram_web" target="_blank" class="md_modal_split_action">
        <i class="md_modal_split_action_twitter"></i>
      </a>
    </div>
  </div>

  <div class="md_modal_body">

    <div class="md_modal_sections">

      <div class="md_modal_versioned_section_wrap" ng-if="canShowVersion('0.4.0')">
        <div class="md_modal_section_version">0.4.0</div>
        <div class="md_modal_section_description changelog_version_changes">
          <ul class="list-unstyled changelog_version_changes_list">
            <li>Полная поддержка стикеров</li>
            <li>Окно мультипоиска: мгновенный поиск по чатам, именам пользователей и сообщениям</li>
            <li>Автозаполнение эмодзи: например, наберите <strong>:kiss</strong> в поле ввода сообщений, чтобы увидеть список доступных смайлов. <a href="http://www.emoji-cheat-sheet.com/" target="_blank">Шпаргалка &raquo;</a></li>
            <li>Уведомление о наборе сообщения в списке чатов</li>
            <li>Счётчик участников чата в заголовке группы</li>
          </ul>
        </div>
      </div>

      <div class="md_modal_versioned_section_wrap" ng-if="canShowVersion('0.3.9')">
        <div class="md_modal_section_version">0.3.9</div>
        <div class="md_modal_section_description changelog_version_changes">
          <ul class="list-unstyled changelog_version_changes_list">
            <li>[Десктоп] Завершён переход на материальный дизайн</li>
          </ul>
        </div>
      </div>

      <div class="md_modal_versioned_section_wrap" ng-if="canShowVersion('0.3.8')">
        <div class="md_modal_section_version">0.3.8</div>
        <div class="md_modal_section_description changelog_version_changes">
          <ul class="list-unstyled changelog_version_changes_list">
            <li>Если вы авторизованы, ссылки Telegram.me будут открываться прямо в веб-клиенте</li>
            <li>Нажатие на @имя_пользователя теперь открывает чат с ним</li>
          </ul>
        </div>
      </div>

      <div class="md_modal_versioned_section_wrap" ng-if="canShowVersion('0.3.7')">
        <div class="md_modal_section_version">0.3.7</div>
        <div class="md_modal_section_description changelog_version_changes">
          <ul class="list-unstyled changelog_version_changes_list">
            <li>[Десктоп] Новый материальный дизайн для модальных окон</li>
            <li>[Десктоп] Пересылка сообщений нескольким получателям</li>
          </ul>
        </div>
      </div>

      <div class="md_modal_versioned_section_wrap" ng-if="canShowVersion('0.3.6')">
        <div class="md_modal_section_version">0.3.6</div>
        <div class="md_modal_section_description changelog_version_changes">
          <ul class="list-unstyled changelog_version_changes_list">
            <li>Новый просмотрщик для фотографий, видео и документов</li>
            <li>[Firefox OS] Улучшена загрузка медиафайлов</li>
          </ul>
        </div>
      </div>

      <div class="md_modal_versioned_section_wrap" ng-if="canShowVersion('0.3.5')">
        <div class="md_modal_section_version">0.3.5</div>
        <div class="md_modal_section_description changelog_version_changes">
          <ul class="list-unstyled changelog_version_changes_list">
            <li>Добавлено встраивание треков и плейлистов из SoundCloud</li>
            <li>Добавлен глобальный поиск пользователей в списке контактов</li>
            <li>Добавлено переключение на мобильную версию при изменении размеров окна</li>
            <li>Уведомление о переходе на HTTPS</li>
            <li>Различные исправления</li>
          </ul>
        </div>
      </div>

      <div class="md_modal_versioned_section_wrap" ng-if="canShowVersion('0.3.4')">
        <div class="md_modal_section_version">0.3.4</div>
        <div class="md_modal_section_description changelog_version_changes">
          <ul class="list-unstyled changelog_version_changes_list">
            <li>Добавлено встраивание материалов из фейсбука и Vimeo</li>
            <li>Улучшена поддержка IE10+: загрузка файлов и исправления стилей</li>
            <li>Добавлено предупреждение о неподдерживающемся формате для воспроизведения медиафайла</li>
            <li>Различные исправления</li>
          </ul>
        </div>
      </div>

      <div class="md_modal_versioned_section_wrap" ng-if="canShowVersion('0.3.3')">
        <div class="md_modal_section_version">0.3.3</div>
        <div class="md_modal_section_description changelog_version_changes">
          <ul class="list-unstyled changelog_version_changes_list">
            <li>Добавлен модуль нативных клиентов: резко увеличена скорость шифрования + входящая и исходящая скорость загрузки теперь высокая, как в нативных приложениях</li>
            <li>Поддержка HTTPS</li>
            <li>Добавлено предупреждение о нескольких открытых вкладках</li>
            <li>Добавлено встраивание материалов из твиттера, инстаграма, Vine и YouTube</li>
            <li>Переход к выбранному месту при воспроизведении аудио</li>
            <li>Различные исправления</li>
          </ul>
        </div>
      </div>

      <div class="md_modal_versioned_section_wrap" ng-if="canShowVersion('0.3.2')">
        <div class="md_modal_section_version">0.3.2</div>
        <div class="md_modal_section_description changelog_version_changes">
          <ul class="list-unstyled changelog_version_changes_list">
            <li>Поддержка имён пользователей: <a href="" ng-click="changeUsername()">выберите имя пользователя сейчас!</a></li>
            <li>Поиск пользователей по их публичным именам</li>
            <li>Добавлены последние смайлы по умолчанию</li>
            <li>[Приложение Chrome] Добавлено сохранение размера и положения окна</li>
            <li>Различные исправления</li>
          </ul>
        </div>
      </div>

      <div class="md_modal_versioned_section_wrap" ng-if="canShowVersion('0.3.1')">
        <div class="md_modal_section_version">0.3.1</div>
        <div class="md_modal_section_description changelog_version_changes">
          <ul class="list-unstyled changelog_version_changes_list">
            <li>Новые языки: испанский, немецкий и итальянский</li>
            <li>Новый аудиоплеер</li>
            <li>Предупреждение об отсутствии поддержки браузера для IE версий 6–9</li>
            <li>Повышение производительности и различные исправления</li>
          </ul>
        </div>
      </div>

      <div class="md_modal_versioned_section_wrap" ng-if="canShowVersion('0.3.0')">
        <div class="md_modal_section_version">0.3.0</div>
        <div class="md_modal_section_description changelog_version_changes">
          <ul class="list-unstyled changelog_version_changes_list">
            <li>Проверочные коды для входа теперь можно получить в других приложениях Телеграма</li>
            <li>Статус собеседника теперь обновляется автоматически</li>
            <li>Добавлена поддержка не-английских хэштегов в сообщениях</li>
            <li>Исправлена проблема с горизонтальной полосой прокрутки</li>
            <li>[Десктоп] Добавлено автоматическое определение страны по коду телефона</li>
            <li>[Firefox OS] Улучшения Push-уведомлений для &lt;= 1.1</li>
            <li>[Firefox OS] Исправлена проблема с эмодзи в уведомлениях</li>
            <li>[Firefox OS] Исправлена проблема с вложениями для &lt;= 1.1</li>
            <li>[Firefox OS] Добавлено разрешение обработки телефонной книги</li>
            <li>[Firefox OS] Добавлена ​​возможность поделиться фотографиями из галереи</li>
          </ul>
        </div>
      </div>

    </div>


    <div class="changelog_footer_wrap clearfix">
      <a class="changelog_github_link" href="https://github.com/zhukov/webogram" target="_blank">GitHub</a>
      <a ng-show="changelogHidden" class="changelog_more_link" href="" ng-click="showAllVersions()">Предыдущие обновления</a>
    </div>

  </div>

</div>